body{
    font-family: sans-serif;
    margin: 20px;
}
#input{
    margin-bottom: 10px;
}
#lista-comentarios li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px;
}